.wrapper{
  height: 50px;
  width: 100%;
  background-color: #1be583;
  border-radius: 10px;
  
  & :hover{
    cursor: pointer;
    background-color: #e6a817;
    border-radius: 10px;
  }
}

.title{
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  line-height: 50px;
}